#!/usr/bin/env nextflow

singularity {
  enabled = true
  autoMounts = true
  docker.enabled = false
}

singularity.cacheDir = '/camp/home/hamrude/.singularity'

process {
  executor = 'slurm'
}

providers {
    github {
        user = 'evaham1'
        password = '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'
    }
}

params {
  max_memory = 224.GB
  max_cpus = 32
  max_time = 72.h

  // Max hmem queue parameters
  max_hmem_cpus = 96
  max_hmem_memory = 1500.GB
  max_hmem_time = 72.h

  config_profile_name        = 'Full test profile'
  config_profile_description = 'Full test dataset to check pipeline function'

  // Parameters for full-size test
  input          = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/samplesheet/v3.10/samplesheet_full.csv'
  genome         = 'GRCh37'
  pseudo_aligner = 'salmon'
}