#!/usr/bin/env nextflow

singularity {
  enabled = true
  autoMounts = true
  docker.enabled = false
}

singularity.cacheDir = '/camp/home/thierya/.singularity'

process {
  executor = 'slurm'
}

params {
  max_memory = 224.GB
  max_cpus = 32
  max_time = 72.h

  // Max hmem queue parameters
  max_hmem_cpus = 96
  max_hmem_memory = 1500.GB
  max_hmem_time = 72.h
  
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/samplesheet/v3.10/samplesheet_test.csv'

    // Genome references
    fasta              = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genome.fasta'
    gtf                = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gtf.gz'
    gff                = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gff.gz'
    transcript_fasta   = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/transcriptome.fasta'
    additional_fasta   = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/gfp.fa.gz'

    bbsplit_fasta_list = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/bbsplit_fasta_list.txt'
    hisat2_index       = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/hisat2.tar.gz'
    salmon_index       = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/salmon.tar.gz'
    rsem_index         = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/rsem.tar.gz'

    // Other parameters
    skip_bbsplit        = false
    pseudo_aligner      = 'salmon'
    umitools_bc_pattern = 'NNNN'
}

// When using RSEM, remove warning from STAR whilst building tiny indices
process {
    withName: 'RSEM_PREPAREREFERENCE_GENOME' {
        ext.args2 = "--genomeSAindexNbases 7"
    }
}